node_modules
logs
dist
test-middleware.js
*.log
*.md
.git
.gitignore
Dockerfile.dev
Dockerfile
*.local
coverage
npm-debug.log
yarn-error.log
.vscode
.idea
.env
.nyc_output
.nyc_output
.coverage
coverage.json
*.lcov
.DS_Store
*.swp
*.swo
*~
docker-compose.yml 